.Dictionary h1 {
  color: #2c3c4d;
  font-family: "Sora", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.Dictionary section {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 15px auto;
  max-width: 600px;
  padding: 30px;
}

.Dictionary input {
  border-radius: 6px;
  color: #333;
  padding: 8px 6px;
}

.Dictionary .search-bar {
  border: 1px solid #ddd;
  margin-right: 10px;
  width: 70%;
}

.Dictionary .submit-button {
  background-color: #ca3631;
  border: none;
  color: white;
  width: 25%;
}

.Dictionary .submit-button:hover {
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.Dictionary p {
  font-size: 13px;
  font-style: italic;
  margin: 5px 0 0 3px;
}
