.Dictionary h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Dictionary section {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 15px auto;
  max-width: 600px;
  padding: 30px;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  padding: 8px 6px;
  width: 100%;
}
